<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmaPeriodSettings1" value="8" />
    <add key="EmaPeriodSettings2" value="21" />
    <add key="EmaPeriodSettings3" value="50" />
    <add key="NumberBarAnalysisSettings" value="30" />
    <add key="PairsFileNameSettings" value="C:\2_CRYPTO - ALL USDT PAIRS (2).txt" />
    <add key="PairsSaveFileNameSettings" value="C:\tmp\BINANCE_PAIRS_TREND.txt" />
  </appSettings>
</configuration>